### Section 4


This file runs the experiments and returns the top performing models as a dictionary of hyper-parameters. It also creates all figures in the paper (except for those specific to the causal PDP and CD diagrams).

In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(os.path.join('..', 'data', 'lar_fl_adult.csv'), sep='|', )
df.head(5)

   AGEP  COW  SCHL  MAR    OCCP   POBP  RELP  WKHP  SEX  RAC1P      Y
0  30.0  1.0  17.0  5.0  4030.0  315.0   0.0  30.0  2.0    8.0  False
1  78.0  1.0  21.0  1.0  2750.0   25.0   0.0   1.0  1.0    1.0  False
2  68.0  1.0  19.0  1.0  4900.0   44.0   1.0  12.0  2.0    1.0  False
3  20.0  1.0  19.0  5.0  4110.0   12.0   0.0  30.0  2.0    1.0  False
4  57.0  1.0  18.0  3.0  3930.0   12.0   0.0  42.0  2.0    2.0   True