We use the state of Florida, FL, from [Folktables](https://github.com/socialfoundations/folktables)' ACSIncome prediction task to showcase the code of Lazzari, Alvarez, and Ruggieri (2022).

In [1]:
import os
import pandas as pd
import numpy as np
print(os.getcwd())

C:\Users\Jose Alvarez\Documents\Projects\weighted-pdp\src

In [2]:
from folktables import ACSDataSource, ACSIncome

# all US states
states = sorted(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
                 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
                 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
                 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
                 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'])
# state codes
state_codes = pd.read_csv(os.path.join('..', 'data', 'state_codes.csv'))

# data folder
data_source = ACSDataSource(survey_year='2017', horizon='1-Year', survey='person', root_dir=os.path.join('..', 'data'))

In [3]:
state_codes.head(5)

          Name  numeric USPS
0     Alabama         1   AL
1      Alaska         2   AK
2     Arizona         4   AZ
3    Arkansas         5   AR
4  California         6   CA

In [4]:
# let's run the pipeline for Florida
fl_data = data_source.get_data(states=['FL'], download=True)
fl_features, fl_labels, _ = ACSIncome.df_to_numpy(fl_data)

df = pd.DataFrame(fl_features, columns=ACSIncome.features)
df['Y'] = fl_labels

print("{} features for {} individuals".format(df.shape[1]-1, df.shape[0]))
df.head(5)

10 features for 97238 individuals

   AGEP  COW  SCHL  MAR    OCCP   POBP  RELP  WKHP  SEX  RAC1P      Y
0  30.0  1.0  17.0  5.0  4030.0  315.0   0.0  30.0  2.0    8.0  False
1  78.0  1.0  21.0  1.0  2750.0   25.0   0.0   1.0  1.0    1.0  False
2  68.0  1.0  19.0  1.0  4900.0   44.0   1.0  12.0  2.0    1.0  False
3  20.0  1.0  19.0  5.0  4110.0   12.0   0.0  30.0  2.0    1.0  False
4  57.0  1.0  18.0  3.0  3930.0   12.0   0.0  42.0  2.0    2.0   True

In [5]:
# save for run_experiments
df.to_csv(os.path.join('..', 'data', 'lar_fl_adult.csv'), sep='|', index=False)